:root{
  --bg-primary: #fff;
  --bg-secundary: #eaeaea;
  --bg-menu-primary: #4e18bb;
  --bg-menu-secundary: #9b29f8;

  --bg-button-primary: #32db57;
  --bg-button-secundary: #1eab3d;

  --color-primary: #000;
  --color-secondary: #fff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
body{
  font-size: 16px;
}
h1,h2,h3,h4{
  font-weight: bold;
  margin-bottom: 10px;
}
h1{
  font-size: 40px;
}
h2{
  font-size: 32px;
}
h3{
  font-size: 25px;
}
h4{
  font-size: 20px;
}
button{
  outline: none;
  border: none;
  padding: 7px 20px;
  background-color: #1dcc1d;
  border-radius: 5px;
  color: var(--color-secondary);
  font-weight: bold;
  font-size: 14px;
  transition: background-color .3s;
  cursor: pointer;
}
button:hover{
  background-color: var(--bg-button-secundary);
}
.container{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 30px;
}
.container-flex{
  display: flex;
}
header{
  background-color: var(--bg-menu-primary);
  color: var(--color-secondary);
}

header > .container{
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}
header h1{
  font-size: 30px;
  font-weight: bold;
}
header #hamburger{
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
}
header #hamburger span{
  width: 32px;
  height: 3px;
  background-color: var(--color-secondary);
}

header nav{
  display: none; /* Controlado pelo jQuery*/
  padding: 10px 0;
  background-color: var(--bg-menu-secundary);
}
header nav ul{
  display: flex;
  gap: 10px;
}
header nav li{
  list-style: none;
  box-shadow: 0 2px 0 0 transparent;
  transition: box-shadow .3s;
  text-wrap: nowrap;
}
header nav li:hover{
  box-shadow: 0 2px 0  0 var(--bg-menu-primary);
}
header nav a{
  color: var(--color-secondary);
  text-decoration: none;
}
section{
  margin-top: 20px;
}
#about > .container{
  position: relative;
  gap: 20px;
}
#about img{
  width: 50%;
}
#about h3{
  margin-bottom: 10px;
}

ul.shop{
  display: flex;
  gap: 20px;
}
ul.shop li{
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  border: 2px solid var(--bg-secundary);
}
ul.shop li > div{
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
ul.shop li img{
  width: 100%;
}
ul.shop li span{
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}
#contact form{
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#contact form input, #contact form textarea{
  width: 100%;
  border: 2px solid var(--bg-secundary);
  outline: none;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: normal;
}
#contact form textarea{
  min-height: 40%;
  resize: none;
}